.container {
    padding: 2rem;
}

.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--cor-terciaria);
    padding: 2rem;
    border-radius: 8px;
}

.content-title {
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    margin-bottom: 1.5rem;
    text-align: center;
}

.content-paragraph {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.project-link {
    display: inline-flex;
    align-items: center;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-link img {
    margin-right: 0.5rem;
    height: 24px;
}

.project-link:hover {
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}