@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #072227;
    --cor-secundaria: #AEFEFF;
    --cor-terciaria: #35858B;
    --cor-hover: #4FBDBA;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {

    background-color: var(--cor-primaria) !important;
    color: var(--cor-secundaria) !important;
}

.cabecalho {
    padding: 2% 0% 0% 16% !important;
}

.cabecalho__menu {
    display: flex !important;
    gap: 2rem !important;

}

.nav-link:hover {
    color: var(--cor-hover) !important;
    transition: color 0.3s ease-in-out !important;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria) !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    color: var(--cor-terciaria) !important;
}

.apresentacao {
    align-items: center !important;
    display: flex !important;
    justify-content: space-between !important;
    padding: 5% 16% !important;
    gap: 82px !important;
}

.apresentacao__conteudo {
    width: 50% !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 40px !important;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem !important;
    font-family: var(--fonte-primaria) !important;
    font-family: var(--font-secundaria) !important;
}

.tituloDestaque {
    color: var(--cor-terciaria) !important;
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem !important;
}

.apresentacao__links {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 32px !important;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria) !important;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
}

.apresentacao__links__navegacao {
    display: flex !important;
    justify-content: center !important;
    gap: 16px !important;
    border: 2px solid var(--cor-terciaria) !important;
    width: 378px !important;
    text-align: center !important;
    text-decoration: none !important;
    border-radius: 8px !important;
    font-size: 1.5rem !important;
    padding: 21.5px 0 !important;
    color: var(--cor-secundaria) !important;
    font-family: var(--font-secundaria) !important;
    font-weight: 600 !important;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover) !important;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover) !important;
}

.apresentacao__imagem {
    width: 40% !important;
}

.rodape {
    color: var(--cor-primaria) !important;
    background-color: var(--cor-terciaria) !important;
    padding: 20px !important;
    text-align: center !important;
    font-family: var(--font-secundaria) !important;
    font-size: 1.5rem !important;
    width: 100% !important;
}

.rodape__texto {
    margin: 0;
}

.projetos__link {
    padding: 10px 20px !important;
    color: var(--cor-secundaria) !important;
    text-decoration: none !important;
    font-family: var(--font-secundaria) !important;
    display: flex !important;
    justify-content: center !important;
    border: 2px solid var(--cor-terciaria) !important;
    width: 378px !important;
    text-align: center !important;
    text-decoration: none !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    margin-bottom: 9.68rem !important;
}

.projetos__link:hover {
    background-color: var(--cor-hover) !important;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}